{{/*
SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
SPDX-FileCopyrightText: 2022 Phu Hung Nguyen <phu@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ define "main" }}
<main class="container">
  <img src="/reusable-assets/konqi-dev.png" alt="" class="konqi">
  <h1>{{ with .Title }}{{ . }}{{ else }}{{ i18n "getinvolved.title" }}{{ end }}</h1>

  {{ .Content }}

  <h2>{{ i18n "getinvolved.notprogrammer.title" }}</h2>
  <p>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.description" .Params.name) }}</p>

  <ul>
    <li>{{ i18n "getinvolved.notprogrammer.bug" | markdownify }}</li>
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.localization" .Params.name) | markdownify }}</li>
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.documentation" .Params.name) | markdownify }}</li>
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.promotion" .Params.name) | markdownify}}</li>
    {{- $link := printf "https://userbase.kde.org/%s" .Params.userbase }}
    <li>{{ partial "fn/i18n_args" (slice "getinvolved.notprogrammer.wiki" $link) | markdownify}}</li>
    <li>{{ i18n "getinvolved.notprogrammer.more" }}</li>
  </ul>
</main>
{{ end }}
